### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.csv
*.xlsx
*.out
*.log

### rasa ### 
.rasa
log.out
logs
models
actions/__pycache__/
utils/__pycache__/
*.html
.DS_Store
data/.DS_Store
__pycache__/
config.yml
bert
results_svm/
train_test_split_1205/
roberta
corpus_dict.json
conflict_examples.txt
/test_data/
/result1_logisticclassifier/
/result_logistic_classifier_cv_15000/
/result_diet_classifier_cv_38/
/result_sklearn_svm_lm_bert_feature/
/result_diet_classifier_lm_bert_feature_38/
/result_logistic_classifier_lm_bert_feature_15000/
/result_diet_classifier_lm_roberta_feature_38/
/result_sklearn_svm_lm_roberta_feature/
/result_logistic_lm_roberta_15000/
/result_logistic_lm_roberta_feature_45000/
/result_diet_classifier_cv_regex_feature_100/
/result_logistic_classifier_cv_150000/
/result_diet_classifier_cv_100_2/
/result_diet_classifier_lm_roberta_feature_50/
/result_diet_classifier_lm_roberta_feature_100/
/result_diet_classifier_lm_roberta-feature-50/
/result_diet_classifier_lm_roberta-feature_100/
/result_diet_classifier_lm_roberta_feature_150/
/result_diet_classifier_lm_roberta_feature_200/
/result_diet_classifier_lm_roberta_feature_300/
intent_statics.txt
filtered.txt
*.xls
/train_test_split_1205
train_test_split/
nohup.out
/train_test_split_1218/
results-his/
/results_1221/
train_test_split/test_data.yml
train_test_split/training_data.yml
/train_test_split/
results/